---
import Footer from "./components/footer.astro";
import Layout from "../../layout/homeLayout.astro";
import Aside from "./components/aside.astro";
---

<Layout title="Paint JS">
  <a href="/" class="title">
    <img src="/icon.png" alt="logo" />
    <p>Back</p>
  </a>
  <div id="paint-container">
    <header>
      <button>File</button>
      <button>Edit</button>
      <button>View</button>
      <button>Tools</button>
      <button>Image</button>
      <button>Help</button>
    </header>
    <Aside />
    <main>
      <canvas id="canvas"></canvas>
    </main>
    <Footer />
  </div>
</Layout>

<style>
  .title {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  main {
    grid-area: main;
  }
  #paint-container {
    border: 0.5px solid black;
    width: 70%;
    height: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
  header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-area: header;
  }

  header {
    padding: 0;
    background-color: silver;
    grid-area: header;
  }
  canvas {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
  }

  button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0.3rem;

    &:hover {
      box-shadow:
        1px 1px black,
        inset -1px -1px gray,
        inset 1px 1px white;
    }
  }
</style>

<script>
  import { attachEventListeners } from "./lib/paint_methods.ts";
  attachEventListeners();
</script>
