---
import Footer from "./components/footer.astro";
import Layout from "../../layout/homeLayout.astro";
import Aside from "./components/aside.astro";
---

<Layout title="Paint JS">
  <div class="title flex">
    <img src="/icon.png" alt="logo" />
    <h1>Paint JS</h1>
  </div>
  <div id="paint-container">
    <header>
      <button>File</button>
      <button>Edit</button>
      <button>View</button>
      <button>Tools</button>
      <button>Image</button>
      <button>Help</button>
    </header>
    <Aside />
    <main>
      <canvas id="canvas"></canvas>
    </main>
    <Footer />
  </div>
</Layout>

<style>
  #paint-container {
    border: 1px solid black;
    padding: 4px;
    width: 70%;
    height: 70%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "header header header"
      "aside main main"
      "footer footer footer";
  }
  header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-area: header;
  }

  header {
    padding: 0;
    background-color: silver;
    grid-area: header;
  }
  canvas {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
  }

  main {
    grid-area: main;
    padding: 2%;
  }

  button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 0.3rem;

    &:hover {
      box-shadow:
        1px 1px black,
        inset -1px -1px gray,
        inset 1px 1px white;
    }
  }
</style>

<script>
  import { attachEventListeners } from "./lib/paint_methods.ts";
  attachEventListeners();
</script>
