---
import GalleryCard from "../components/card/GalleryCard.astro";
import Layout from "../layout/homeLayout.astro";
import Loading from "./loading.astro";
---

<Layout title="Paint JS">
  <a href="/paint">
    <GalleryCard title="Paint JS" />
  </a>
</Layout>
