---
import { Image } from "astro:assets";
import img1 from "/public/robot-icon/favicon-32x32.png";
import CardFile from "./card/CardFile.astro";
---

<div class="mansory-gallery">
  <CardFile icon={img1} title="Paint" redirectPath="/paint" />
</div>

<style>
  .mansory-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative;
  }

  .mansory-gallery .column {
    flex: 25%;
  }

  .mansory-gallery .column .image {
    border: 0.5rem solid transparent;
    border-radius: 1.5rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .mansory-gallery .column {
      flex: 50%;
    }
  }

  @media (max-width: 500px) {
    .mansory-gallery .column {
      flex: 100%;
    }
  }
</style>
