---
import { Image } from "astro:assets";
import chatImg from "/public/robot-icon/favicon-32x32.png";
import googleImg from "/assets/file-icons/ie.png";
import translatorImg from "/assets/file-icons/translator.png";
import paintImg from "/assets/file-icons/paint.webp";
import CardFile from "./card/CardFile.astro";
---

<div class="mansory-gallery">
  <CardFile
    icon={googleImg}
    title="Internet Explorer"
    redirectPath="/google-search"
  />
  <CardFile icon={paintImg} title="Paint" redirectPath="/paint" />
  <CardFile icon={chatImg} title="Chatbot" redirectPath="/chatbot" />
  <CardFile
    icon={translatorImg}
    title="Translator"
    redirectPath="/translator"
  />
</div>

<style>
  .mansory-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative;
  }

  .mansory-gallery .column {
    flex: 25%;
  }

  .mansory-gallery .column .image {
    border: 0.5rem solid transparent;
    border-radius: 1.5rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .mansory-gallery .column {
      flex: 50%;
    }
  }

  @media (max-width: 500px) {
    .mansory-gallery .column {
      flex: 100%;
    }
  }
</style>
